

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.03em;
}

:root{
  height:100%;
}

#root{
  height:100%;
}

body {
  margin: 0;
  height:100%;
}

a {
  text-decoration: none;
}

h1{
  padding:0 0 1rem 0;
}

